<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">New Student Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href={{ url_for('index') }}>Home</a>
            <a class="nav-link" href={{ url_for('sportspage') }}>Sports Page</a>
            <!-- stub is shown using the name of the route -->
            <a class="nav-link" href={{ url_for('councelorsearch') }}>Find Your Counselor!</a>
            <a class="nav-link" href={{ url_for('clubs') }}>Club Page</a>
            <a class="nav-link" href={{ url_for('homepage') }}>Home Page</a>
            <a class="nav-link" href={{ url_for('math') }}>Math PATH</a>
            <a class="nav-link" href={{ url_for('Math_Path') }}>Club PATH</a>
            <a class="nav-link" href={{ url_for('comment') }}>Comments</a>
            <a class="nav-link" href={{ url_for('map2') }}>MAP</a>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CRUD
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="nav-link" href={{ url_for('crud.crud') }}>CRUD</a>
                    <a class="nav-link" href={{ url_for('crud.search') }}>SEARCH</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="{{ url_for('bria') }}">Bria</a>
                    <a class="dropdown-item" href="{{ url_for('jessie') }}">Jessie</a>
                    <a class="dropdown-item" href="{{ url_for('nadira') }}">Nadira</a>
                    <a class="dropdown-item" href="{{ url_for('paige') }}">Paige</a>
                </div>
            </li>
        </div>
    </div>
</nav>

