<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}

    <style>

        html, body{
            background-color: #788585;
        }
        .center {
            margin: auto;
            width: 60%;
            border: 5px solid #B1B6A6;
            padding: 10px;
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <body>


    <div class="center">
        <h3>Check out your recipe of the day!</h3>
        <form action="/jessiesapi/" id="recipe" method="POST" >
            <label for="recipe">Click to see</label>
            <input name="recipe" id="recipe">
            <input type="submit" value="Click to enter"> {{fact}}
        </form>
    </div>

    </body>
{% endblock %}