<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}
    <body>
    <div class="center">
        <h2>Jessie Park</h2>
        <p>Hi, my names Jessie and I am the deployment manager for our team. I like art and video games.</p>
    </div>

    <body>
    <img src="/static/assets/jessiemaskon.jpg" id="jessiemaskon" alt=" Mask On" style="width: 400px; height: auto">
    <input type="button" value="Take Mask Off" id="button1" onclick="changePhoto()">
    <br>
    <br>
    <a class="button" target="_blank" href="https://docs.google.com/document/d/1huWsfI7-3COuK45SiUF5_T3DFpNmcoGLhiiLbFigpsU/edit">Journal!</a>

    </body>
    <script>
        function changePhoto() {
            if (document.getElementById("button1").value === "Take Mask Off") {
                document.getElementById("jessiemaskon").src = "/static/assets/jessiemaskoff.jpg";
                document.getElementById("button1").value = "Put Mask On";
            }
            else{
                document.getElementById("jessiemaskon").src = "/static/assets/jessiemaskon.jpg";
                document.getElementById("button1").value = "Take Mask Off";
            }
        }
    </script>
    </body>
    <style>
        table, td, th {
            border: 1px solid whitesmoke;
        }
        table {
            border-collapse: collapse;
            width: 80%;
        }
        th {
            height: 70px;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
        }

        .center {
            text-align: center;
        }

        body {
            background: darkseagreen;
        }
        body {
            color: #226d43;
        }
    </style>
{% endblock %}
</html>