<!DOCTYPE html>
{% extends "layouts/base.html" %}
<html lang="en">


{% block body %}
<body>
<div class="center">
<h2>Nadira Haddach</h2>
<p>Hi, my names Nadira and I am the scrum master for our team. I manage the scrumboard and keep the team on
track. Outside of class I play Varisty Girls Soccer and participate in clubs such as Gardening for Change,
Link Crew, and NHS.</p>
</div>

<table class="center">
    <tr>
        <th>More Info</th>
        <th>Links</th>
    </tr>
    <tr>
        <td>I play for City SC GA. In soccer, I play the 10 or CAM. I also enjoy playing the ukelele, drums,
        and piano. My favorite color is purple and my favorite animal is a dolphin. I really like italian food
            and LOVE cannolis.</td>
        <td>
            <a href="https://docs.google.com/document/d/1huWsfI7-3COuK45SiUF5_T3DFpNmcoGLhiiLbFigpsU/edit?usp=sharing">Nadira and Paige Jornal</a>
            <br>
        <a href="https://docs.google.com/presentation/d/1HYEDRN5f7PYX6Mmf6sWR_N41fWu1qG4b9oOvJjNwqx4/edit#slide=id.p">Wireframe</a>
            <br>
            <a href="https://github.com/B-G101/4Gs/wiki/Management-Policies:">Management Policies</a>
        </td>
    </tr>
</table>
<br>
    <body class="center">
    <img src="/static/assets/nadiramaskon.jpg" id="nadiramaskon" alt="Nadira Mask On" style="width: 400px; height: auto">
    <input type="button" value="Mask Off" id="button1" onclick="changePhoto()">
    <br>
    <br>
</body>

    <script>
        function changePhoto() {
            if (document.getElementById("button1").value === "Mask Off") {
                document.getElementById("nadiramaskon").src = "/static/assets/nadiramaskoff.jpg";
                document.getElementById("button1").value = "Mask On";
            }
            else{
                document.getElementById("nadiramaskon").src = "/static/assets/nadiramaskon.jpg";
                document.getElementById("button1").value = "Mask Off";
            }
        }
    </script>

    <body class="center">
        <h4>TEST THE API</h4>
        <a class="button" target="_blank" href="/nadirasapi">Click Here</a>
    <br>
    <br>
    </body>

<style>
    table, td, th {
        border: 2px solid whitesmoke;
    }
    table {
        border-collapse: collapse;
        width: 80%;
    }
    th {
        height: 70px;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .center {
        text-align: center;
    }

    body,html {
        background: lavender;
    }
    body {
        color: rebeccapurple;
    }
</style>
{% endblock %}
</html>