<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page's page</title>
</head>
<body>
<body>

<h1 style="background-color:Violet;color:White;">Us Pages</h1>

<p style="background-color:Grey;color:White;">
    Hello I am Paige McCartin I am a junior at Del Norte High School
</p>
<a href="https://docs.google.com/document/d/1huWsfI7-3COuK45SiUF5_T3DFpNmcoGLhiiLbFigpsU/edit?usp=sharing">Visit Paige and Nadira's Journal</a>
<a href="https://docs.google.com/document/d/1huWsfI7-3COuK45SiUF5_T3DFpNmcoGLhiiLbFigpsU/edit?usp=sharing">Visit Paige and Nadira's Journal</a>

</body>

</body>
</html>