<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}
<body>
<div class="center">
    <h2>Paige McCartin</h2>
    <p>Hi, my names Paige and I am the primary designer for our team. I play Varisty Girls Volleyball and participate in clubs such as Gardening for Change,
        Link Crew, and NHS.</p>
</div>

    <body>
        <img src="/static/assets/briamaskon.jpg" id="briamaskon" alt=" Mask On" style="width: 400px; height: auto">
        <input type="button" value="Take Mask Off" id="button1" onclick="changePhoto()">
    <br>
    <br>
        <a class="button" target="_blank" href="https://docs.google.com/document/d/1huWsfI7-3COuK45SiUF5_T3DFpNmcoGLhiiLbFigpsU/edit">Paige and Nadira Pair Journal!</a>

    </body>
    <script>
    function changePhoto() {
        if (document.getElementById("button1").value === "Take Mask Off") {
            document.getElementById("briamaskon").src = "/static/assets/briamaskoff.jpg";
            document.getElementById("button1").value = "Put Mask On";
        }
        else{
            document.getElementById("briamaskon").src = "/static/assets/briamaskon.jpg";
            document.getElementById("button1").value = "Take Mask Off";
        }
    }
    </script>
</body>
<style>
    table, td, th {
        border: 1px solid whitesmoke;
    }
    table {
        border-collapse: collapse;
        width: 80%;
    }
    th {
        height: 70px;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .center {
        text-align: center;
    }

    body {
        background: pink;
    }
    body {
        color: deeppink;
    }
</style>
{% endblock %}
</html>