<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Your Club!</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    {% set name = "4Gs coders" %}
    {% include "layouts/navbar.html" %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {display:none;}

        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40%;
            border-radius: 5px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .color {
            border-radius: 5px 5px 0 0;
        }

        .container {
            padding: 2px 16px;
        }

    </style>

<h2 class="w3-center">Choose your club!</h2>

<div class="w3-content w3-display-container">
    <img class="mySlides" src="https://media.istockphoto.com/vectors/doodle-math-algebra-and-geometry-school-equation-and-graphs-hand-vector-id1182287109" style="width:1000px; height: 550px;">
    <img class="mySlides" src="https://pll.harvard.edu/sites/default/files/styles/header/public/course/asset-v1_HarvardX%2BCalcAPL1x%2B2T2017%2Btype%40asset%2Bblock%40TITLE-Calculus-Applied-2120x1192-NO-SPOTLIGHT%202.png?itok=crWwjmVi" style="width:1000px; height: 550px;">
    <img class="mySlides" src="https://www.dpma.de/images/istock/46-50/istock-494497554_goir_gross.jpg" style="width:1000px; height: 550px;">

    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
</script>

    <div class="card">
        <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/baby-blue-solid-color-marine-solid-colors.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Jane Doe</b></h4>
            <p>Interior Designer</p>
        </div>
    </div>
    <div class="card">
        <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/light-pink-solid-color-girly-pastel-solid-colors.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Jane Doe</b></h4>
            <p>Interior Designer</p>
        </div>
    </div>

</head>
<body>

</body>
</html>