<!DOCTYPE html>
{% extends "layouts/base.html" %}
<html lang="en">


{% block body %}
<body>

<div class="center">
    <h2>Del Norte Clubs</h2>
    <p>Del Norte has a variety of clubs that everyone is welcome to join. It is important to stay involved in your school for it will help you develop skills you might use in your future. </p>
</div>
<table class="center">
    <tr>
        <th>Club Name</th>
        <th>More Info</th>
    </tr>
    <tr>
        <td>National Honors Society</td>
        <td>more info
        </td>
    </tr>
    <tr>
        <td>Gardens For Change</td>
        <td>more info
        </td>
    </tr><tr>
    <td>Together as one</td>
    <td>more info
    </td>
</tr><tr>
    <td>Key Club</td>
    <td>more info
    </td>
</tr><tr>
    <td>Liberal Activism Club</td>
    <td>more info
    </td>
</tr>
</table>
<br>

</script>
</body>
<style>
    table, td, th {
        border: 1px solid whitesmoke;
    }
    table {
        border-collapse: collapse;
        width: 80%;
    }
    th {
        height: 70px;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .center {
        text-align: center;
    }

    body {
        background: #0e440e;
    }
    body {
        color: #051460;
    }
</style>
{% endblock %}

</html>