{% extends "layouts/base.html" %}

{% block body %}
<body class="center">

<h2>Find Your Counselor!</h2>
<h5>Type the FIRST LETTER of your last name to determine who your counselor is. (Lowercase Letter Only)</h5>

<h5 id="coun"></h5>
<h5 id="kih">Mrs. Susie Kihneman</h5>
<h5 id="rot">Mr. Tim Roty</h5>
<h5 id="ken">Ms. Lauren Kennedy</h5>
<h5 id="lun">Mr. Jesse Luna</h5>
<h5 id="mar">Mrs. Kathy Marron</h5>

<form action="/councelorsearch">
    <label for="lname">Last Name:</label> <br>
    <input type="text" id="lname" name="lname" value=""> <br>
    <input type="submit" value="Submit" onclick="ascii()">
</form>
<script>

    function ascii(lname){
        lname = document.getElementById("lname").innerHTML
        ascii = lname.charCodeAt(0);

        if (ascii() < 69) {
            document.getElementById('coun').innerHTML = "Mrs. Susie Kihneman";
        }
        if (69<ascii<74) {
            document.getElementById('coun').innerHTML = "Mr. Tim Roty";
        }
        if ( (lname))
        {
            document.getElementById('coun').innerHTML = "Ms. Lauren Kennedy";

        }
        if ( (lname)>127)
        {
            document.getElementById('coun').innerHTML = "Mr. Jesse Luna<";

        }
        else {
            document.getElementById('coun').innerHTML = "Mrs. Kathy Marron";

        }}


</script>

<style>
    body,html,
    body {
    color: whitesmoke;
    }
    .center {
        text-align: center;
    }
</style>
</body>
{% endblock %}