{% extends "layouts/base.html" %}

{% block body %}
<body>
<h2>Find Your Counselor!</h2>
<h4>Type the first letter of your last name to determine who your counselor is. (Uppercase Letter only)</h4>
<form action="councelorsearch.html">
    <label for="lname">Last name:</label> <br>
    <input type="text" id="lname" name="lname" value=""> <br>
    <input type="submit" value="Submit" onclick="searchname()">
</form>
<script>
    function searchname(){
        document.getElementById("lname").value = toString();
    }

</script>
</body>
{% endblock %}