<!DOCTYPE html>
{% extends "layouts/base.html" %}
<html lang="en">


{% block body %}
    <body>

    <div class="center">
    <h2>GPA Calculator</h2>



    <style>
        table, td, th {
            border: 1px solid whitesmoke;
        }
        table {
            border-collapse: collapse;
            width: 80%;
        }
        th {
            height: 70px;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
        }

        .center {
            text-align: center;
        }

        body {
            background: #051460;
        }
        body {
            color: #ffffff;
        }
    </style>
{% endblock %}

</html>