<!DOCTYPE html>
{% extends "layouts/base.html" %}
<html lang="en">


{% block body %}
    <body>

    <div class="center">
    <h2>GPA Calculator</h2>

    <head> <meta charset="utf-8"> <link rel="stylesheet" type="text/css"
                                        href="styles.css"> <title>Center for Health Information Technology
    </title>
        <script type="text/javascript">
            function calculate()
            {
                var x=document.getElementById("result1").innerText;
                var y=document.getElementById("result2").innerText;
                var z=document.getElementById("result3").innerText;
                var a=document.getElementById("result4").innerText;
                var result1=parseFloat(x) + parseFloat(y) + parseFloat(z)
                    + parseFloat(a); // conversion to numbers; this is necessary for +, other    operators will automatically convert
                var result5=x%y;

                //build a string first and then display it all together.
                //don't forget HTML tags in your output!

                var html="<p>Your GPA is: "+result1/4+"</p>";




                document.getElementById("total").innerHTML=html;
            }


        </script>
    </head>

    <body>



    <script language="JavaScript">

        function calculateGpa (form) {
            var gpa = form.gpa1.value;

            if (gpa == "A") {
                gpa = 4;
            }
            if (gpa == "B") {
                gpa = 3;
            }
            if (gpa == "C") {
                gpa = 2;
            }
            if (gpa == "D") {
                gpa = 1;
            }
            if (gpa == "F") {
                gpa = 0;
            }
            if (gpa == "a") {
                gpa = 4;
            }
            if (gpa == "b") {
                gpa = 3;
            }
            if (gpa == "c") {
                gpa = 2;
            }
            if (gpa == "d") {
                gpa = 1;
            }
            if (gpa == "f") {
                gpa = 0;
            }
            document.getElementById("result1").innerHTML = gpa;
        }
    </script>


    <body>

    <form action="" id="class1">Enter your grade in the form of a letter grade for class 1:<br>

        <input type="text" name="gpa1" value="">
        <input type="button" name="button" value="Calculate" onClick="calculateGpa(this.form)">
    </form>
    <div id="result1"></div>


    <script language="JavaScript">

        function calculateGpa2 (form) {
            var gpa = form.gpa2.value;

            if (gpa == "A") {
                gpa = 4;
            }
            if (gpa == "B") {
                gpa = 3;
            }
            if (gpa == "C") {
                gpa = 2;
            }
            if (gpa == "D") {
                gpa = 1;
            }
            if (gpa == "F") {
                gpa = 0;
            }
            if (gpa == "a") {
                gpa = 4;
            }
            if (gpa == "b") {
                gpa = 3;
            }
            if (gpa == "c") {
                gpa = 2;
            }
            if (gpa == "d") {
                gpa = 1;
            }
            if (gpa == "f") {
                gpa = 0;
            }
            document.getElementById("result2").innerHTML = gpa;
        }
    </script>


    <body>

    <form action="" id="class2">Enter your grade in the form of a letter grade for class 2:<br>

        <input type="text" name="gpa2" value="">
        <input type="button" name="button" value="Calculate" onClick="calculateGpa2(this.form)">
    </form>
    <div id="result2"></div>


    <script language="JavaScript">
        function calculateGpa3 (form) {
            var gpa = form.gpa3.value;

            if (gpa == "A") {
                gpa = 4;
            }
            if (gpa == "B") {
                gpa = 3;
            }
            if (gpa == "C") {
                gpa = 2;
            }
            if (gpa == "D") {
                gpa = 1;
            }
            if (gpa == "F") {
                gpa = 0;
            }
            if (gpa == "a") {
                gpa = 4;
            }
            if (gpa == "b") {
                gpa = 3;
            }
            if (gpa == "c") {
                gpa = 2;
            }
            if (gpa == "d") {
                gpa = 1;
            }
            if (gpa == "f") {
                gpa = 0;
            }
            document.getElementById("result3").innerHTML = gpa;
        }
    </script>


    <body>

    <form action="" id="class3">Enter your grade in the form of a letter grade for class IT 5443:<br>

        <input type="text" name="gpa3" value="">
        <input type="button" name="button" value="Calculate" onClick="calculateGpa3(this.form)">
    </form>
    <div id="result3"></div>


    <script language="JavaScript">
        function calculateGpa4(form) {
            var gpa = form.gpa4.value;

            if (gpa == "A") {
                gpa = 4;
            }
            if (gpa == "B") {
                gpa = 3;
            }
            if (gpa == "C") {
                gpa = 2;
            }
            if (gpa == "D") {
                gpa = 1;
            }
            if (gpa == "F") {
                gpa = 0;
            }
            if (gpa == "a") {
                gpa = 4;
            }
            if (gpa == "b") {
                gpa = 3;
            }
            if (gpa == "c") {
                gpa = 2;
            }
            if (gpa == "d") {
                gpa = 1;
            }
            if (gpa == "f") {
                gpa = 0;
            }
            document.getElementById("result4").innerHTML = gpa;


        }
    </script>


    <body>

    <form action="" id="class4">Enter your grade in the form of a letter grade for class IT 5413:<br>

        <input type="text" name="gpa4" value="">
        <input type="button" name="button" value="Calculate" onClick="calculateGpa4(this.form)">
    </form>
    <div id="result4"></div>
    <br>
    <input type="button" id="final" name="button" value="Calculate" onClick="calculate(result1+result2+result3+result4)">


    <style>
        table, td, th {
            border: 1px solid whitesmoke;
        }
        table {
            border-collapse: collapse;
            width: 80%;
        }
        th {
            height: 70px;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
        }

        .center {
            text-align: center;
        }

        body {
            background: #051460;
        }
        body {
            color: #ffffff;
        }
    </style>
{% endblock %}

</html>