<!DOCTYPE html>
{% extends "layouts/base.html" %}
<html lang="en">


{% block body %}
<body>

<div class="center">
    <h2>Welcome to Del Norte High School!</h2>
    <p>Del Norte is an amazing school in poway unified. It offers many classes that have teachers always betting on your success.</p>
    <img src="/static/assets/delnorteHS.jpeg" alt="Del Norte HS">
</div>


</script>
</body>
<style>
    table, td, th {
        border: 1px solid whitesmoke;
    }
    table {
        border-collapse: collapse;
        width: 80%;
    }
    th {
        height: 70px;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .center {
        text-align: center;
    }

    body {
        background: #0e440e;
    }
    body {
        color: #051460;
    }
</style>
{% endblock %}

</html>