<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Portfolio" %}
{% set overview = "https://nighthawkcodingsociety.com/projectsearch/details/Flask%20Portfolio%20Starter" %}
{% set repo = "https://github.com/nighthawkcoders/flask_portfolio/" %}

<html lang="en">

{% block body %}
    <body>

    <div class="center">
        <h2>Welcome to Del Norte High School!</h2>
        <p>Del Norte is an amazing school in Poway Unified. It offers many classes that have teachers always betting on your success.</p>
        <img src="/static/assets/delnorteHS.jpeg" alt="Del Norte HS">
    </div>



    </body>
    <style>
        table, td, th {
            border: 1px solid whitesmoke;
        }
        table {
            border-collapse: collapse;
            width: 80%;
        }
        th {
            height: 70px;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
        }

        .center {
            text-align: center;
        }

        body {
            background: midnightblue ;
        }
        body {
            color: whitesmoke;
        }
    </style>
{% endblock %}

</html>