<!DOCTYPE html>
<html lang="en">
<!-- EXTEND (layout.html), this is a template for all rendered pages in the project -->
{% extends "layouts/base.html" %}

<!-- CONTENT (in <head>), content for this page -->
{% block body %}
<body>
<div id="splash">
    <img src="images/img/Splash_image1.jpg" alt="" id="mainImg">

</div>

<div id="imglist">
    <a href="javascript:nextImage('mainImg')"><img src="images/next_img.png" alt=""></a>
</body>

<script>
var imgArray = new Array();

imgArray[0] = new Image();
imgArray[0].src = 'static/assets/delnortemap.jpg';

imgArray[1] = new Image();
imgArray[1].src = 'static/assets/map.png';

</script>
{% endblock %}
</html>