<!DOCTYPE html>
<html lang="en">
<!-- EXTEND (layout.html), this is a template for all rendered pages in the project -->
{% extends "layouts/base.html" %}

<!-- CONTENT (in <head>), content for this page -->
{% block body %}
    <body>
    <img src="/static/assets/map/dndefault.png" alt="Map image" id="mapimage" onload="getrandomImg()"/>
    <label for="myText">Guess the Location:</label><br>
    <input type="text" id="myText" value="hello">
    <button onclick="getGuess()">Submit Answer</button>
    <p id="endgamemessage"></p>
    </body>
    <script>
        const mapurl = [
            "/static/assets/map/dnbasketball.png",
            "/static/assets/map/dngym.png",
            "/static/assets/map/dnpool.png",
            "/static/assets/map/dnstadium.png",
            "/static/assets/map/dntennis.png"];
        mapimgnum = Math.floor(Math.random() * mapurl.length);
        function getrandomImg() {
            document.getElementById("mapimage").src = mapurl[mapimgnum];
        }

        mapnewlist = new Array([]);

        let guess;

        function getGuess(){
            guess = document.getElementById("myText").value;
            imgGame();
        }
        function imgGame(){
            let guess2 = guess;
            for (let i = 0; i < mapurl.length; i++) {
                mapnewlist[i] = mapurl[i].slice(21,-4)
            }
            if (guess2 == mapnewlist[mapimgnum]) {
                document.getElementById("endgamemessage").innerHTML = "yay you win";
            }   else {
                document.getElementById("endgamemessage").innerHTML = "aww you lose";
            }
        }

    </script>

{% endblock %}
</html>