<!DOCTYPE html>
{% extends "layouts/base.html" %}
<html lang="en">



{% block body %}
<body>

<script>

    function cond(){
        const classList = ["Math Accel", "Int. 1A", "Int 1B", "Int 2A", "Int 2B", "Trig", "Int. 3A", "Int. 3B", "AFA 1", "AFA 2", "Pre-Calc 1", "AP Calc AB 1", "AP Calc AB 2", "Pre-Calc 2", "AP Calc BC 1", "AP Calc BC 2", "AP Stats 1", "AP Stats 2", "AP Stats 3", "You're cracked at math", "Select a Class"]
        const dropdownPick = parseInt(document.getElementById("input1").value);
        document.getElementById("selection").innerHTML = classList[dropdownPick + 1];

    }

</script>

<div class="center">
  <h2>Math Paths</h2>
  <p>Below are the different paths of math a student could take. Look around to see what fits best for you.</p>
</div>
<table class="center">
  <tr>
    <th colspan="3">9th grade</th>
    <th>-</th>
    <th colspan="3">10th grade</th>
    <th>-</th>
    <th colspan="3">11th grade</th>
    <th>-</th>
    <th colspan="3">12th grade</th>
  </tr>
  <tr>
    <th>TRI 1</th>
    <th>TRI 2</th>
    <th>TRI 3</th>
    <th>-</th>
    <th>TRI 1</th>
    <th>TRI 2</th>
    <th>TRI 3</th>
    <th>-</th>
    <th>TRI 1</th>
    <th>TRI 2</th>
    <th>TRI 3</th>
    <th>-</th>
    <th>TRI 1</th>
    <th>TRI 2</th>
    <th>TRI 3</th>
  </tr>
  <tr>
    <td>Math Accel</td>
    <td>Int. 1 a</td>
    <td>Int. 1 b</td>
    <td>-></td>
    <td>Int. 2 a</td>
    <td>Int 2 b</td>
    <td>Trig</td>
    <td>-></td>
    <td>Int. 3a</td>
    <td>Int. 3b</td>
    <td>Pre-Calc 1</td>
    <td>-></td>
    <td>AFA 1/APStats 1/APCalc AB</td>
    <td>AFA 2/APStats 2/APCalc AB</td>
    <td>Pre-Calc 1/Stats/Pre-Calc 1</td>
  </tr>
</table>
<br>
<table class="center">
  <tr>
    <th colspan="3">9th grade</th>
    <th>-</th>
    <th colspan="3">10th grade</th>
    <th>-</th>
    <th colspan="3">11th grade</th>
    <th>-</th>
    <th colspan="3">12th grade</th>
  </tr>
  <tr>
    <th>TRI 1</th>
    <th>TRI 2</th>
    <th>TRI 3</th>
    <th>-</th>
    <th>TRI 1</th>
    <th>TRI 2</th>
    <th>TRI 3</th>
    <th>-</th>
    <th>TRI 1</th>
    <th>TRI 2</th>
    <th>TRI 3</th>
    <th>-</th>
    <th>TRI 1</th>
    <th>TRI 2</th>
    <th>TRI 3</th>
  </tr>
  <tr>
    <td>Int. 1 a</td>
    <td>Int. 1 b</td>
    <td>Int. 2 a</td>
    <td>-></td>
    <td>Int. 2 b</td>
    <td>Int 3 a</td>
    <td>Int 3 b</td>
    <td>-></td>
    <td>AFA 1</td>
    <td>AFA 2</td>
    <td>Pre-Calc 1</td>
    <td>-></td>
    <td>APStats 1/APCalc AB</td>
    <td>APStats 2/APCalc AB</td>
    <td>Stats/Pre-Calc 1</td>
  </tr>
</table>
<br>
<table class="center">
    <tr>
        <th colspan="3">9th grade</th>
        <th>-</th>
        <th colspan="3">10th grade</th>
        <th>-</th>
        <th colspan="3">11th grade</th>
        <th>-</th>
        <th colspan="3">12th grade</th>
    </tr>
  <tr>
    <th>TRI 1</th>
    <th>TRI 2</th>
    <th>TRI 3</th>
    <th>-</th>
    <th>TRI 1</th>
    <th>TRI 2</th>
    <th>TRI 3</th>
    <th>-</th>
    <th>TRI 1</th>
    <th>TRI 2</th>
    <th>TRI 3</th>
    <th>-</th>
    <th>TRI 1</th>
    <th>TRI 2</th>
    <th>TRI 3</th>
  </tr>
  <tr>
    <td>Int. 2 a</td>
    <td>Int. 2 b</td>
    <td>Trig</td>
    <td>-></td>
    <td>Int. 3 a</td>
    <td>Int 3 b</td>
    <td>Pre-Calc 1</td>
    <td>-></td>
    <td>APCalc AB</td>
    <td>APCalc AB</td>
    <td>Pre-Calc 2</td>
    <td>-></td>
    <td>Bridge to BC</td>
    <td>AP Calc BC</td>
    <td>AP Calc BC</td>
  </tr>
</table>
<br>

        <body class="center">
        <br>
        <br>
        <h2>Find Your Math Class!</h2>
        <h5>Select your current math class to find your next class!</h5>

        <select class="extra" id="input1">
            <option value="19"></option>
            <option value="0">Math Accel</option>
            <option value="1">Int. 1A</option>
            <option value="2">Int. 1B</option>
            <option value="3">Int. 2A</option>
            <option value="4">Int. 2B</option>
            <option value="5">Trig</option>
            <option value="6">Int. 3A</option>
            <option value="7">Int. 3B</option>
            <option value="8">AFA 1</option>
            <option value="9">AFA 2</option>
            <option value="10">Pre-Calc 1</option>
            <option value="11">AP Calc AB 1</option>
            <option value="12">AP Calc AB 2</option>
            <option value="13">Pre-Calc 2</option>
            <option value="14">AP Calc BC 1</option>
            <option value="15">AP Calc BC 2</option>
            <option value="16">AP Stats 1</option>
            <option value="17">AP Stats 2</option>
            <option value="18">AP Stats 3</option>
        </select>

        <button type="button" onclick="cond()">Submit</button>

        <p id="selection" class="answer"> </p>

{#        <script>#}
{#            function cond(){#}
{#                let a = document.getElementById("wish").value;#}
{#                if(a === "1"){#}
{#                    document.getElementById("accel").innerHTML = "";#}
{#                }#}
{#                else if(a === ""){#}
{#                    document.getElementById("accel").innerHTML = "";#}
{#                }#}
{#                else if(a === "0"){#}
{#                    document.write("Click back to return to homepage");#}
{#                }#}
{#                else document.getElementById("accel").innerHTML = "lol";#}
{#            }#}
{#        </script>#}

        </body>


        <style>
            body,html,
            body {
                color: whitesmoke;
            }
            .center {
                text-align: center;
            }
        </style>
        </body>
<body>
<br>
<input type="text" placeholder="Do you want to print this page?" id="wish">
<button type="button" onclick="cond()">Submit</button>

</body>
<style>
  table, td, th {
    border: 1px solid whitesmoke;
  }
  table {
    border-collapse: collapse;
    width: 80%;
  }
  th {
    height: 70px;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .center {
    text-align: center;
  }

  body {
    background: #0e440e;
  }
  body {
    color: #ffffff;
  }
</style>
{% endblock %}

</html>